button {

    background-color: white; 
        color: #000000;
        padding: 1% 1%;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        max-height: 30px;
        width: 20%;
        
     
        
     
}

p{
    color:white;
    font-family: 'DM Sans', sans-serif;


}
section{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;;
    
   

}
