@media (min-width: 768px) {
    *{
    background-color: #1D1D1B;
    width: 30%;
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    border-radius: 30px;
    margin: 0;
    }

    .cont-all{
        display: flex;
        margin-top: 5%;
        flex-direction: column;
        margin-left: 35%;
        align-items: center;
    }

    .cont-alter{
        display: flex;
        min-width: 300px;
        margin-bottom: 15%;
        align-items: center;
        justify-content: center;
    }

    .imputt{
        background-color: white;
        border-style: none;
        color: black;
        padding-left: 15%;
        min-width: 60%;
        min-height: 40px;
        margin-bottom: 6%;
        border-radius: 25px;
    }

    .access{
        margin-top: 5%;
        background-color:  #ff79038b;
        border-style: none;
        min-width: 45%;
        min-height: 30px;
        margin-bottom: 6%;
        border-radius: 15px;
        color: white;
        font-size: bold;;
        font-size: 18px;
    }

    .title{
        margin-top: 15%;
        margin-bottom: 15%;
        margin-left: 15%;
        align-items: center;
        font-size: 24px;
    }

    .account{
        background-color: #1d1d1b00;
        border-style: none;
        padding: 0;
        width: 20%;
        font-size: 16px;
    }

    .message{
        margin-top: 0;
        margin-bottom: 0;
        width: 58%;
    }
}
@media (max-width: 767px) {
    * {
    width: 90%;
    background-color: #1D1D1B;
    color: white;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    }
}