button {
    background: none;
    border: none;
    display: flex; 
    align-items: center; 
    z-index: 0;
  }
  
  img {
    padding: 8%;
    width: 22%;
    z-index: 0;
  }
  
  p {
    color: aliceblue;
    font-family: 'DM Sans', sans-serif;
    font-size: 13px;
    margin-left: 8px; 
    z-index: 0;
  }